
header{
  color: rgb(37, 36, 34);
  background-color: rgb(204, 197, 185);
  text-align:center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

}
body {
  background-color:rgb(255, 252, 242);
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
}

article {
  display: flex;
  flex-direction: column;
}

li {
  margin:0 auto;
  margin-bottom: 5px;
  width: 50%;
}

.projects img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* change img opacity to 75% when hovering*/
.projects img:hover{
  opacity: 75%;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(204, 197, 185);
  border-radius: 10px;
  border-bottom-style: solid;
  border-bottom-color: #EB5E28;
  border-bottom-width: 2px;
  margin-bottom: 10px;
}

.nav-bar li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-bar a {
  color: rgb(37, 36, 34);
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;

  }

  /* Change the link color to orange on hover */
.nav-bar li a:hover {
    background-color: rgb(235, 94, 40);
    color:rgb(37, 36, 34);
  }


h3{
  color: rgb(37, 36, 34);
}

h2{
  color: rgb(37, 36, 34);
}

a:link {
  color: #403D39;
}

/* visited link */
a:visited {
  color: rgb(64, 61, 57);
}

/* mouse over link */
a:hover {
  color: rgb(235, 94, 40);
}


.profile {
  border: 2px solid #403D39;
  border-radius: 10px;
}

figure img {
 border-radius: 10px;
 width: 40%;
}

figure{
  padding: 40px;

}
.kind {
  border: 2px solid #403D39;
  border-radius: 10px;
  padding: 10px;
}
ul{
  list-style-type: none;
}

a {
  text-decoration: none;
}

.myForm {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 1em;
}
.row {
  display: flex;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.input-group {
  display: flex;
}
.input-group > label {
  margin-right: 1em;
  padding: .5em 0;
}
.myForm input,
.myForm select {
  flex: 6;
  padding: .5em;
  margin-bottom: 1em;
}
.myForm button {
 padding: 1em;
  background: gray;
  color: white;
  border: 0;
}

footer{
  display: flex;
  background-color: rgb(204, 197, 185);
  border-top-style: solid;
  border-top-color: #EB5E28;
  border-top-width: 2px;
  border-radius: 10px;
  padding: 5px;
  justify-content: center;

}
